.comment{"data-parrent_id" => comment.id, "data-parrent_type" => 'Comment'}
  %a.avatar
    = render 'users/avatar', type: comment.user
  .content{"data-comment_id" => comment.id}
    = link_to comment.user.name, user_path(comment.user.id), class: 'author'
    .metadata
      .date= comment.created_at.to_s(:ru_datetime)
      .rating.likable{'data-likable-id': comment.id,
          'data-likable-type': 'Comment'}
        = render 'likes/likes', object: comment
    .text.active
      .text_body
        = comment.body
      - if comment.image?
        .image_body
          = image_tag comment.image.url, class: 'ui midle image'
    -if  current_user && current_user.id == comment.user_id
      = form_with model: comment,
        multipart: true,
        html: {class: 'ui form hide'} do |f|
        .field
          = f.text_area :body, maxlength: "500", minlength: 3, rows: 2
        .field.image
          - if comment.image?
            = image_tag comment.image.url, class: 'ui big image' if comment.image?
            = link_to image_path(id: comment.id),
                      remote: true,
                      class: 'delete_icons',
                      method: :delete do
              %i.top.left.corner.red.close.link.icon
        .field
          = f.file_field :image
        .ui.buttons
          = f.submit 'Save', class: 'ui green button'
          = f.button 'reset',type: :reset, class: 'ui orange button'
    - if current_user && current_user.email_confirmed?
      .actions
        .ui.accordion
          -if  current_user && current_user.id == comment.user_id
            = link_to 'Destroy', comment,
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'reply',
                          remote: true
            %a.reply.edit{"data-comment_id" => comment.id}
              Edit
          %a.title.reply
            %i.dropdown.icon
            Reply
          .content
            = render 'comments/form', object: comment 
            
  - if comment.comments.any?
    .comments
      = render comment.comments