.comment
  %a.avatar
    - if comment.user.avatar?
      = image_tag comment.user.avatar.url
    - else
      = image_tag comment.user.gravatar_url
  .content
    = link_to comment.user.name, user_path(comment.user.id), class: 'author'
    .metadata
      %span.date= comment.created_at.to_s(:ru_datetime)
    .text
      = comment.body
    - if comment.image?
      = image_tag comment.image.url, class: 'ui midle image'
    .actions
      .ui.accordion
        .likable{'data-likable-id': comment.id,
        'data-likable-type': 'Comment'}
          = render 'likes/likes', object: comment

        -if owner(comment.user_id)
          = link_to 'Destroy', comment,
                        method: :delete,data: { confirm: 'Are you sure?' },
                        class: 'reply'
          %a.title.reply
            %i.dropdown.icon
            Edit
          .content
            = form_for comment,
              html: {class: 'ui reply form transition hidden'} do |f|
              .field
                = f.text_area :body, maxlength: "500", minlength: 1
              .field
                = f.file_field :image
              .ui.buttons
                = f.submit 'Save', class: 'ui green button'
                = f.button 'reset',type: :reset, class: 'ui orange button'
        %a.title.reply
          %i.dropdown.icon
          Reply
        .content
          = render 'comments/form', object: comment
  - if comment.comments.any?
    .comments
      = render comment.comments