= form_for @user, :html => {:class => 'ui form'} do |f|
  - if @user.errors.any?
    #error_explanation.ui.red.message
      .header= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul.list
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :password_confirmation
    = f.text_field :password_confirmation
  .ui.buttons
    = f.submit 'Save', class: 'ui green button'
