.ui.container
  %p#notice= notice

  %p
    = image_tag @user.gravatar_url

  %p
    %b Name:
    = @user.name
  %p
    %b Email:
    = @user.email

  .ui.buttons
    = link_to 'Edit', edit_user_path(@user), class: 'ui green button'
    = link_to 'Back', users_path, class: 'ui orange button'
    - if current_user
      - if current_user.id == @user.id
        = link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red button'
