.ui.container.grid
  .eleven.wide.column
    - @posts.each do |post|
      .ui.card.fluid
        .content
          .header= link_to post.title, post_path(post.id)
          .description= post.body[0, 100]
        .extra.content
          %span.right.floated= post.created_at.to_s(:ru_datetime)
  .five.wide.column
    .ui.piled.segment
      .ui.header Last Registered
      .ui.divided.middle.aligned.selection.list
        - @users.each do |user|
          = link_to user_path(user.id), class: 'item' do
            .content
              .header= user.name
