.ui.container.grid.stackable.mobile.reversed
  .eleven.wide.column#posts_home
    = render @posts
    #infinite_scroll{style: 'display:none'}
      = will_paginate @posts,
        renderer: WillPaginateSemanticUi::ActionView::Renderer
  .five.wide.column
    .ui.piled.segment.search
      .ui.header Search
      = form_for posts_path, :method => "get", html: {id: "search-form", class: "ui form"} do |f|
        .field
          = text_field_tag :search, params[:search], placeholder: "Search"
        .ui.action
          = f.button 'search', class: 'ui fluid blue button'
    .ui.piled.segment.last_registered
      .ui.header Last registered
      .ui.divided.middle.aligned.selection.list
        - @users.each do |user|
          = link_to user_path(user.id), class: 'item' do
            .content
              .header= user.name
              = user.created_at.strftime("Registred %d, %m, %Y")