= form_for @post, html: {class: 'ui form'} do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title, maxlength: "20"
  .field
    = f.label :body
    = f.text_area :body, maxlength: "5000"
  .ui.buttons
    = f.submit 'Save', class: 'ui green button'
    = f.button 'reset',type: :reset, class: 'ui orange button'

