= form_for @post, html: {class: 'ui form', multipart: true} do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= messages
  .field
    = f.label :title
    = f.text_field :title, maxlength: "20"
  .field
    = f.label :body
    = f.text_area :body, maxlength: "5000"

  = f.fields_for :images do |i|
    .field
      = i.label :images
      = i.file_field :images,
        multiple: true,
        name: "data[image][]", max: 5
  .ui.buttons
    = f.submit 'Save', class: 'ui green button'
    = f.button 'reset',type: :reset, class: 'ui orange button'

