.ui.card.fluid
  .content
    .header= link_to post.title, post_path(post.id)
    .description= post.body[0, 100]
  .extra.content
    = post.comments.all.count
    %span.left.floated.like.likable{'data-likable-id': post.id,
        'data-likable-type': 'Post'}
      = render 'likes/likes', object: post
    %span.right.floated= post.created_at.to_s(:ru_datetime)