.ui.container
  .ui.grid
    .eleven.wide.column
      .ui.piled.segments
        .ui.segment
          -if owner(@post.user_id)
            = link_to 'Edit', edit_post_path(@post),
                              class: 'ui green button'
            = link_to 'Destroy', @post,
                        method: :delete,data: { confirm: 'Are you sure?' },
                        class: 'ui red button'
          %h3.ui.header= @post.title
          %p= @post.body
        .ui.segment
          .ui.small.images
            - @images.each do |img|
              = image_tag img.image.url, class: 'ui image'
        .ui.segment.likable{'data-likable-id': @post.id,
        'data-likable-type': 'Post'}
          = render 'likes/likes', object: @post
    .five.wide.column
      .ui.card
        .image
          = render 'users/avatar', type: @post.user
        .content
          = link_to @post.user.name, user_path(@post.user.id), class: :header


  %h3.ui.dividing.header Comments
  - if current_user
    = render 'comments/form', object: @post
  - else
    .ui.warning.message
      LogIn to leave a comment.
  .ui.threaded.comments#comments
    -if @post.comments.any?
      = render @post.comments.reverse

