!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DepressBlog
    = action_cable_meta_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    %div{:style => "display:none"}
      = flash.now[:notice] = params[:flash_notice]
    - if notice
      .ui.message.transition#notice
        %i.close.icon
        .header= notice

    = yield
