!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DepressBlog
    = action_cable_meta_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://js.pusher.com/5.0/pusher.min.js"}
    :javascript
      Pusher.logToConsole = true;

      var pusher = new Pusher('58d748b444d5cd6e90ba', {
        cluster: 'eu',
        forceTLS: true
      });

      var channel = pusher.subscribe('my-channel');
      channel.bind('my-event', function(data) {
        alert(JSON.stringify(data));
      });

  %body.pushable
    .ui.vertical.inverted.sidebar.menu.right.uncover
      - if current_user
        -if current_user.email_confirmed?
          = link_to 'New Post', new_post_path, class: 'ui item'
        - else
          = link_to 'New Post', {flash_notice: 'Please confirm your email!'},class: 'ui item'
        = link_to current_user.name, user_path(current_user.id), class: 'item'
        = link_to 'Logout', logout_path, class: 'item'
      - else
        = link_to 'Login', login_path, class: 'ui item'
        = link_to 'SignUp', signup_path, class: 'ui item'

    .pusher
      = render 'layouts/header'
      %div{:style => "display:none"}
        = flash.now[:notice] = params[:flash_notice]
      - if notice
        .ui.message.transition#notice
          %i.close.icon
          .header= notice

      = yield

